!!! 5
%html
  %head{ lang: I18n.locale }
    %title= ["Better Pension", content_for(:title)].compact.join(' • ')
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    - if flash[:notice]
      .notice= flash[:notice]

    = yield
